.brands-container {
    min-height: 400px;
    width: 100%;
    padding: 16px;
    background-color: lightseagreen;
    li {
        margin: 10px auto;
        a {
            color: white;
        }
    }
}
