//
@import "./Profiles/common";
@import "./Profiles/header";
@import "./Profiles/footer";
@import "./Profiles/brand-container";
@import "./Profiles/home-container";
@import "./Profiles/employees-container";
@import "./Profiles/locations-container";
@import "./Profiles/form";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: coral;
    color: white;
    text-align: center;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: darkgrey;
}
